.text {
  text-decoration: none;
  color: #FFF;
  font-family: "Edu TAS Beginner";
  border-radius: 85px;
  background: #1d287a;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
}